.Container {
  height: 977px;
}

.CommonItemWrapper{
  position: absolute;
    width: 100%;
    overflow-x: hidden;
}

  @media screen and (min-width: 320px) {
    .CommonItemWrapper {
      padding-top: 42px;
    }
  }

  @media screen and (min-width: 768px) {
    .CommonItemWrapper {
      padding-top: 19px;
    }
  }

  @media screen and (min-width: 1440px) {
    .CommonItemWrapper {
      padding-top: 107px;
    }
  }

.CommonItemWrapper:not(last-child) {
  margin-bottom: 20px
}

.ItemsWrapper1,
.ItemsWrapper2,
.ItemsWrapper3 {

  display: flex;
  position: relative;
}



  @media screen and (min-width: 1440px) {
    .ItemsWrapper1,
    .ItemsWrapper3 {
      left: -343px;
    }
  }


  @media screen and (min-width: 1440px) {
    .ItemsWrapper2 {
     left: -152px;
    }
  }

  @media screen and (min-width: 320px) {
    .CommonItemWrapper {
      padding-top: 42px;
    }
  }

  @media screen and (min-width: 768px) {
    .CommonItemWrapper {
      padding-top: 19px;
    }
  }

  @media screen and (min-width: 1440px) {
    .CommonItemWrapper {
      padding-top: 107px;
    }
  }

.BackgroundImage {
  background-color: #fff;
  border-radius: 10px;
  
  overflow: hidden;
}

  @media screen and (min-width: 320px) {
    .BackgroundImage {
      width: 119.1px;
      height: 66.8px;
      margin-right: 6.3px;
      margin-bottom: 6.3px;
    }
  }

  @media screen and (min-width: 768px) {
    .BackgroundImage {
      width: 188.68px;
      height: 105.82px;
      margin-right: 9.98px;
      margin-bottom: 9.98px;
    }
  }

  @media screen and (min-width: 1440px) {
    .BackgroundImage {
      min-width: 378px;
      height: 212px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

.BackgroundImage1{
  background-image: url('./HeroImages/desktop/Rectangle\ 1.jpg');
}

.BackgroundImage2 {
  background-image: url('./HeroImages/desktop/Rectangle\ 2.jpg');
}

.BackgroundImage3 {
  background-image: url('./HeroImages/desktop/Rectangle\ 3.jpg');
}

.BackgroundImage4 {
  background-image: url('./HeroImages/desktop/Rectangle\ 4.jpg');
}

.BackgroundImage5 {
  background-image: url('./HeroImages/desktop/Rectangle\ 5.jpg');
}

.BackgroundImage6 {
  background-image: url('./HeroImages/desktop/Rectangle\ 6.jpg');
}

.BackgroundImage7 {
  background-image: url('./HeroImages/desktop/Rectangle\ 7.jpg');
}

.BackgroundImage8 {
  background-image: url('./HeroImages/desktop/Rectangle\ 8.jpg');
}

.BackgroundImage9 {
  background-image: url('./HeroImages/desktop/Rectangle\ 9.jpg');
}

.BackgroundImage10 {
  background-image: url('./HeroImages/desktop/Rectangle\ 10.jpg');
}

.BackgroundImage11 {
  background-image: url('./HeroImages/desktop/Rectangle\ 11.jpg');
}

.BackgroundImage12 {
  background-image: url('./HeroImages/desktop/Rectangle\ 12.jpg');
}

.BackgroundImage13 {
  background-image: url('./HeroImages/desktop/Rectangle\ 13.jpg');
}

.BackgroundImage14 {
  background-image: url('./HeroImages/desktop/Rectangle\ 14.jpg');
}

.BackgroundImage15 {
  background-image: url('./HeroImages/desktop/Rectangle\ 15.jpg');
}

.BackgroundImage16 {
  background-image: url('./HeroImages/desktop/Rectangle\ 16.jpg');
}

.BackgroundImage17 {
  background-image: url('./HeroImages/desktop/Rectangle\ 17.jpg');
}

.BackgroundImage18 {
  background-image: url('./HeroImages/desktop/Rectangle\ 18.jpg');
}
