@import "normalize.css";

:root {
  --main-font:
    'Helvetica Now Display Regular',
    'Helvetica Now Display Medium',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --accent-color: #1976D2;
  --primary-color: #DC004E;
  --main-font-color: #202124;
  --secondary-font-color: rgba(32, 33, 36, 0.7);
  --third-font-color: #fff;
  --border-form-color: rgba(154, 157, 161, 0.33);
  --border-radius: 4px;
  --box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25), 0 0 8px 0 rgba(0, 0, 0, 0.25);
  --box-shadow-accent: 0 0 4px 0 rgba(25, 118, 210, 0.15),
    0 0 8px 0 rgba(25, 118, 210, 0.15);
  --form-background-color: rgba(227, 228, 229, 0.09);
  --input-border-color: rgba(0, 0, 0, 0.2);

}

@font-face {
  font-family: 'Helvetica Now Display Regular';
  src: local('Helvetica-NowDisplayRegular'),
  url(./fonts/Helvetica-NowDisplayRegular.ttf) format('ttf');
}

@font-face {
  font-family: 'Helvetica Now Display Bold';
  src: local('Helvetica-NowDisplayBold'),
    url(./fonts/Helvetica-NowDisplayBold.otf) format('otf');
}

@font-face {
  font-family: 'Helvetica Now Display Medium';
  src: local('Helvetica-NowDisplayMedium'),
    url(./fonts/Helvetica-NowDisplayMedium.otf) format('otf');
}

@font-face {
  font-family: 'Helvetica Now Display XBlack';
  src: local('Helvetica-NowDisplayXBlack'),
    url(./fonts/Helvetica-NowDisplayXBlack.otf) format('otf');
}

@font-face {
  font-family: 'Helvetica Now Display Black';
  src: local('Helvetica-NowDisplayBlack'),
    url(./fonts/Helvetica-NowDisplayBlack.otf) format('otf');
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}
