@import "normalize.css";

:root {
  --main-font:
    'Helvetica Now Display Regular',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

  --second-font:
      'Helvetica Now Display Bold',
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  
  --main-font-color: #fff;

  --desktopHD: 'screen and (min-width:1920px)';
  --desktop: 'screen and (min-width: 1440px)';
  --tablet: "screen and (min-width: 768px)";
  --phone: "screen and (min-width: 320px)";
  --accent-color: #18E8A4;

  --primary-color: #DC004E;
  

}

@font-face {
  font-family: 'Helvetica Now Display Regular';
  src: local('Helvetica-NowDisplayRegular'),
  url(./fonts/Helvetica-NowDisplayRegular.ttf) format('ttf');
}

@font-face {
  font-family: 'Helvetica Now Display Bold';
  src: local('Helvetica-NowDisplayBold'),
    url(./fonts/Helvetica-NowDisplayBold.otf) format('otf');
}

@font-face {
  font-family: 'Helvetica Now Display Medium';
  src: local('Helvetica-NowDisplayMedium'),
    url(./fonts/Helvetica-NowDisplayMedium.otf) format('otf');
}

@font-face {
  font-family: 'Helvetica Now Display XBlack';
  src: local('Helvetica-NowDisplayXBlack'),
    url(./fonts/Helvetica-NowDisplayXBlack.otf) format('otf');
}

@font-face {
  font-family: 'Helvetica Now Display Black';
  src: local('Helvetica-NowDisplayBlack'),
    url(./fonts/Helvetica-NowDisplayBlack.otf) format('otf');
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
